article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.mainWrapper {
  width: 90%;
  margin: 0 auto; }

body {
  background-image: url("./images/3824.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

header {
  margin-top: 160px; }

.headerStyle {
  letter-spacing: 3px;
  width: 100%; }

.mainHeader {
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 60%; }
  .mainHeader h1 {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    color: #0B3C5D;
    font-family: "Quicksand", sans-serif;
    font-size: 70px;
    text-align: center; }
  .mainHeader p {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    color: #0B3C5D;
    text-align: right;
    padding-right: 20px;
    font-size: 17px; }

.logoto {
  color: #D9B310;
  font-size: 60px;
  margin-left: 10px; }

/* Portrait tablet and small desktops */
@media (max-width: 1050px) {
  section.inputContainer {
    width: 90%; }
  section.resultContainer {
    width: 90%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  section.inputContainer {
    width: 100%; }
  section.resultContainer {
    width: 100%;
    box-sizing: border-box; }
  div.cityPicture img {
    width: 250px;
    height: 250px; }
  div.infoTitle h2 {
    font-size: 20px; }
  div.infoTitle h4 {
    margin: 0 auto 10px auto; }
  div.moreBudget {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    div.moreBudget button {
      margin-top: 15px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .mainHeader {
    width: 90%; }
    .mainHeader h1 {
      font-size: 40px; }
  div.inputContainer {
    width: 100%; }
  div.inputPlaces {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box; }
  div.inputOrigin {
    width: 100%;
    margin: 0 auto; }
  div.inputDestination {
    width: 100%;
    margin: 20px auto 10px auto;
    margin-left: 20px; }
  input.originUser {
    width: 250px; }
  input.destinationUser {
    width: 250px; }
  input.budgetInfo {
    width: 100px; }
  section.resultContainer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  div.infoGeneral {
    -ms-flex-direction: column;
        flex-direction: column; }
  div.moreFlights {
    width: 100%; }
    div.moreFlights button {
      margin: 10px auto 10px auto; }
  div.infoTitle {
    width: 95%; }
  div.infoGeneral {
    width: 95%; }
  div.infoBudget {
    width: 95%; }
  div.cityPicture {
    width: 95%;
    margin-bottom: 15px; }
    div.cityPicture img {
      width: 80%; } }

.inputContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 90%;
  border: none;
  padding: 20px 0;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
  color: #0B3C5D; }
  .inputContainer *:focus {
    outline: none; }
  .inputContainer h3 {
    margin: 0; }

.initialForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.inputPlaces {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto; }

.inputOrigin, .inputDestination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 75%;
  font-family: "Open Sans", sans-serif; }
  .inputOrigin input, .inputDestination input {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #1D2731;
    height: 35px;
    border-radius: 40px;
    margin-right: 10px; }
  .inputOrigin input::-webkit-input-placeholder, .inputDestination input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
  .inputOrigin input:-ms-input-placeholder, .inputDestination input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
  .inputOrigin input::placeholder, .inputDestination input::placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
    .inputOrigin input::-webkit-input-placeholder:onfocus, .inputDestination input::-webkit-input-placeholder:onfocus {
      color: transparent; }
    .inputOrigin input:-ms-input-placeholder:onfocus, .inputDestination input:-ms-input-placeholder:onfocus {
      color: transparent; }
    .inputOrigin input::placeholder:onfocus, .inputDestination input::placeholder:onfocus {
      color: transparent; }
  .inputOrigin h3, .inputDestination h3 {
    margin-right: 10px;
    margin-left: 20px; }

.inputBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 25%;
  font-family: "Open Sans", sans-serif;
  margin: 30px auto; }
  .inputBudget input {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #1D2731;
    padding: 8px;
    width: 150px;
    border-radius: 40px; }
  .inputBudget input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
  .inputBudget input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
  .inputBudget input::placeholder {
    font-family: "Open Sans", sans-serif;
    color: lightgray; }
    .inputBudget input::-webkit-input-placeholder:onfocus {
      color: transparent; }
    .inputBudget input:-ms-input-placeholder:onfocus {
      color: transparent; }
    .inputBudget input::placeholder:onfocus {
      color: transparent; }
  .inputBudget h3 {
    margin-right: 10px;
    margin-left: 20px; }

.originUser, .destinationUser, .budgetInfo {
  height: 100%;
  width: 300px;
  background-color: white;
  border: none; }

.findFlights {
  margin: 20px auto;
  width: 20%;
  padding: 12px 0;
  width: 150px;
  background-color: #1D2731;
  color: white;
  border: none;
  border-radius: 40px; }
  .findFlights:hover {
    background-color: #0B3C5D;
    color: white; }

.visible {
  visibility: visible; }

.invisible {
  height: 5px;
  display: none;
  visibility: hidden; }

.resultContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 70%;
  border: 2px solid #0B3C5D;
  margin: 20px auto 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #0B3C5D;
  padding: 15px;
  opacity: 0.8; }

.cityPicture {
  margin: 30px auto 0 auto;
  width: 95%;
  border: none; }
  .cityPicture img {
    width: 100%;
    height: 300px;
    border: none; }

.infoFlight {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 95%;
  margin: 0 auto; }

.flightWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: left;
      justify-content: left;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  background-color: white;
  padding: 40px 0;
  margin: 0 auto 30px auto; }

.infoTitle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  color: #D9B310; }
  .infoTitle h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin: auto;
    color: #0B3C5D; }
  .infoTitle h4 {
    margin: 0 auto 10px auto; }

.infoAirports {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 40%; }
  .infoAirports h2 {
    font-size: 35px; }
  .infoAirports h4 {
    margin: 0; }

.infoPrice {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 35%; }
  .infoPrice h2 {
    color: #D9B310; }

.infoGeneral {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 25%;
  color: #328CC1;
  margin: 0 auto;
  background-color: white; }
  .infoGeneral p {
    color: #D9B310;
    margin: 5px auto 10px auto; }

.infoBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 60%;
  background-color: white;
  vertical-align: middle; }
  .infoBudget p {
    margin: 10px 5px; }

.budgetNum {
  color: #D9B310;
  padding: 5px;
  font-size: 30px; }

.moreFlights {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-align: left;
      align-items: left;
  width: 40%; }

.medBlueCol {
  color: #0B3C5D; }

.moreBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 80%;
  margin: 0 auto; }

.buttonBudget {
  background-color: #1D2731;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 40px; }
  .buttonBudget:hover {
    background-color: #0B3C5D;
    color: white; }

.loadingContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font-size: 30px;
  margin: 0 auto;
  width: 150px;
  padding: 50px 10px; }

.loadingOne {
  animation: rocketMoving 9s infinite; }

.loadingTwo {
  animation: rocketMoving 9s infinite;
  animation-delay: 0.5s; }

.loadingThree {
  animation: rocketMoving 9s infinite;
  animation-delay: 1.5s; }

@keyframes rocketMoving {
  0% {
    color: #1D2731;
    bottom: 0;
    transform: rotate(-45deg);
    opacity: 0; }
  25% {
    color: #1D2731;
    opacity: 1; }
  35% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: #0B3C5D; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1;
    color: #328CC1; }
  85% {
    opacity: 0; }
  100% {
    opacity: 1;
    color: #328CC1; } }
