article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.mainWrapper {
  width: 90%;
  margin: 0 auto; }

.headerStyle {
  letter-spacing: 3px;
  width: 100%; }

.mainHeader {
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 60%; }
  .mainHeader h1 {
    margin: 20px 0 0 0;
    padding: 0;
    color: #0B3C5D;
    font-family: "Quicksand", sans-serif;
    font-size: 70px;
    border-bottom: 5px solid #D9B310; }
  .mainHeader p {
    margin: 0 0 20px 0;
    padding: 5px 0;
    font-family: "Open Sans", sans-serif;
    color: #0B3C5D;
    text-align: right;
    padding-right: 20px; }

.logoto {
  color: #D9B310;
  font-size: 60px;
  margin-left: 10px; }

.inputContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 65%;
  border: none;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  background-color: #0B3C5D;
  color: white; }
  .inputContainer *:focus {
    outline: none; }

.initialForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.inputPlaces {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }

.inputOrigin, .inputDestination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 50%;
  font-family: "Open Sans", sans-serif; }
  .inputOrigin input, .inputDestination input {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #1D2731;
    padding: 4px 0 5px 0; }
  .inputOrigin input::-webkit-input-placeholder, .inputDestination input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
  .inputOrigin input:-ms-input-placeholder, .inputDestination input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
  .inputOrigin input::placeholder, .inputDestination input::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
    .inputOrigin input::-webkit-input-placeholder:onfocus, .inputDestination input::-webkit-input-placeholder:onfocus {
      color: transparent; }
    .inputOrigin input:-ms-input-placeholder:onfocus, .inputDestination input:-ms-input-placeholder:onfocus {
      color: transparent; }
    .inputOrigin input::placeholder:onfocus, .inputDestination input::placeholder:onfocus {
      color: transparent; }
  .inputOrigin p, .inputDestination p {
    margin: auto 10px auto 20px; }

.inputBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 10px auto; }
  .inputBudget input {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #1D2731;
    padding: 8px; }
  .inputBudget input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
  .inputBudget input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
  .inputBudget input::placeholder {
    font-family: "Open Sans", sans-serif;
    color: #D9B310; }
    .inputBudget input::-webkit-input-placeholder:onfocus {
      color: transparent; }
    .inputBudget input:-ms-input-placeholder:onfocus {
      color: transparent; }
    .inputBudget input::placeholder:onfocus {
      color: transparent; }
  .inputBudget p {
    margin: auto 10px auto 10px; }

.originUser, .destinationUser, .budgetInfo {
  height: 100%;
  width: 300px;
  background-color: white;
  border: none; }

.findFlights {
  width: 20%;
  margin: 15px auto 5px auto;
  padding: 8px 0 8px 0;
  background-color: #1D2731;
  color: white;
  border: none; }
  .findFlights:hover {
    background-color: #328CC1;
    color: #1D2731; }

.visible {
  display: block;
  visibility: visible; }

.invisible {
  display: none;
  visibility: hidden; }

.resultContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 80%;
  border: 2px solid #0B3C5D;
  margin: 20px auto 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #1D2731;
  padding: 15px; }

.cityPicture {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 35%;
  border: none; }
  .cityPicture img {
    width: 100%;
    height: 300px;
    border: none; }

.infoFlight {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 65%; }

.infoTitle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  color: #D9B310; }
  .infoTitle h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin: auto;
    color: #0B3C5D; }
  .infoTitle h4 {
    margin: 0 auto 10px auto; }

.infoAirports {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 60%; }

.infoPrice {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  width: 40%; }
  .infoPrice h2 {
    color: #D9B310; }

.infoGeneral {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 60%;
  margin: 20px auto 20px auto;
  color: #328CC1;
  background-color: white; }
  .infoGeneral p {
    color: #D9B310;
    margin: 5px auto 10px auto; }

.infoBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 60%;
  background-color: white;
  vertical-align: middle; }
  .infoBudget p {
    margin: 10px 5px; }

.budgetNum {
  background-color: #D9B310;
  color: #1D2731;
  padding: 5px;
  font-size: 20px; }

.moreFlights {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-align: left;
      align-items: left;
  width: 40%; }

.medBlueCol {
  color: #0B3C5D; }

.moreBudget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 80%;
  margin: 0 auto; }

.buttonBudget {
  background-color: #328CC1;
  font-size: 18px;
  padding: 10px;
  border: none; }
  .buttonBudget:hover {
    background-color: #0B3C5D;
    color: #328CC1; }

.rocketDisplay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 80%;
  margin: 0 auto; }

.rocketing {
  margin-top: 30px;
  font-size: 150px; }

.rocketingAnimate {
  margin-top: 25px;
  font-size: 200px;
  animation: rocketMoving 10s infinite;
  transform: rotate(-45deg); }

@keyframes rocketMoving {
  0% {
    color: #1D2731;
    bottom: 0;
    transform: rotate(-45deg);
    opacity: 0; }
  25% {
    color: #1D2731;
    opacity: 1; }
  35% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: #0B3C5D; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1;
    color: #328CC1; }
  85% {
    opacity: 0; }
  100% {
    opacity: 1;
    color: #D9B310; } }
